
set_io cam_enable 4 # 3 #P1A7

set_io cam_sda 18 #34 #P1B3
set_io cam_scl 19 #28 #P1B10

set_io dphy_clk 23 #P1B9
set_io dphy_data[0] 26 #43 #P1B7
set_io dphy_data[1] 32 # 42 #P1B1
set_io dphy_lp_p 37 # 48 #P1A8
set_io dphy_lp_n 34 # 48 #P1A8

# set_io BTN_N      10
#set_io LEDR_N     40
#set_io LEDG_N     41

# set_io LED2       27
# set_io LED3       25
# set_io LED5       21
# set_io BTN2       19
# set_io LED1       26
# set_io LED4       23
# set_io BTN1       20
# set_io BTN3       18

set_io clk25 20
# set_io dbg_tx 13
# PMOD  0  1  2  3  4  5  6  7
#       9 10 11 12 47  2 48 46
set_io mpsse_scl 9 #FTDI D1
set_io mpsse_sda 10 # 6 #FTDI D0

set_io dbg_extra[0] 11 #PMOD data 2
set_io dbg_extra[1] 12
set_io dbg_extra[2] 47
#set_io dbg_extra[3] 2
set_io dbg_dphy_lp 2

#set_io dbg_dphy_clk 48
set_io dbg_sreset 48
#set_io dbg_video_clk 46
set_io dbg_wait_sync 46

set_io i2c_sel 39
set_io csi_sel 40

